	<div class="gridster">
	  <ul>
	    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  	<div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
	  	<div data-id="temperature" data-view="temperature" data-title="Weather Forecast" ></div>
	  	<div data-id="timezone" data-view="Timezone" data-title="Weather Forecast" ></div>
	</li>
	</div>