<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCX4Gz97M_qrPDiz5-A3AcN1L53IOf5YX8&sensor=false&libraries=visualization"></script>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
	  <div data-id="map" data-view="Map" data-title="Map" data-type="heat" data-color="#222222"></div>
	</li>
  </ul>
</div>