<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="my_widget" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
	  <div data-id="trafficmap" data-view="Trafficmap" data-title="Austin Traffic" data-lat="30.329548" data-long="-97.756257" data-zoom="14" ></div>
	</li>
  </ul>
</div>